@font-face {
  font-family: "Museo Sans Light";
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Bold";
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Museo Sans Light", sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.button {
  border-radius: 10px;
  border: 1px solid #ffd200;
  font-size: 13px;
  background-color: #ffd200;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 95%;
  }
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.navbar__address {
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}

.navbar__phone {
  margin-top: 6px;
  text-decoration: none;
  font-size: 20px;
  color: #333333;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}

.navbar__button {
  padding: 18px 30px;
  margin-left: 28px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}

@media (max-width: 668px) {
  .navbar {
    padding: 18px 0;
  }
  .navbar-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 5px;
  }
  .navbar__logo {
    width: 90px;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    padding: 12px 26px;
    margin-right: 7px;
    margin-bottom: 5px;
    font-size: 10.7px;
  }
}

.hero {
  padding: 46px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-right: 70px;
}

.hero-text__title {
  margin-bottom: 40px;
  font-size: 41px;
  line-height: 55px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  margin-bottom: 50px;
  font-size: 20px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}

.hero-list {
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}

.hero-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 40px;
  margin-right: 27px;
  border: 2px solid #ffd200;
  border-radius: 50%;
}

.hero-list__text {
  max-width: 240px;
  font-size: 14px;
  line-height: 24px;
}

.hero-image img {
  -webkit-box-shadow: 3px 0 2px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 0 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 1.4;
  }
  .hero-text__subtitle {
    margin-bottom: 28px;
    font-size: 16px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */